@layer reset, theme, base, mui, components, utilities;

@import 'tailwindcss';

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: unset;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --red: #860d05;
  --red-alt: #ab0101;
  --yellow: #f1c40f;
  --green: #07dd71;
  --green-light: #7fff00;
  --blue: #1b1a55;
  --blue-dark: #070f2b;
  --blue-light: #424769;
  --purple: #3c0753;
  --white: #f8f9f9;
  --gray: #4e505c;
  --gray-dark: #4e505c;
  --gray-light: #b2b6ce;

  --font-horrorfind: Horrorfind;

  --color-typography: var(--white);
  --color-background: var(--blue-dark);

  --default-letter-spacing: 0.1em;
}

@theme inline {
  --font-horrorfind: var(--font-horrorfind);
  --font-amarante: var(--font-amarante);

  --color-bg-intro: var(--gray-dark);
  --color-gray-light: var(--gray-light);
  --color-primary: var(--blue);
  --color-secondary: var(--purple);
  --color-hover: var(--green-light);
  --color-user-message: var(--blue-light);
  --color-blood: var(--red-alt);
  --shadow-intro: -4px -4px 6px 0px rgba(44, 45, 51, 0.8) inset;
  --shadow-hover-button: 0px 0px 16px 0px rgba(178, 182, 206, 0.8);
}

body {
  height: 100dvh;
  width: 100dvw;
  font-family: Amarante, sans-serif;
  color: var(--color-typography);
  background-color: var(--color-background);
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
