@layer reset, theme, base, mui, components, utilities;

@import 'tailwindcss';

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: unset;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

:root {
  --red: #a10b01;
  --yellow: #f1c40f;
  --green: #228636;
  --green-light: #7fff00;
  --blue: #1b1a55;
  --blue-dark: #070f2b;
  --blue-light: #424769;
  --purple: #3c0753;
  --white: #f8f9f9;

  --font-horrorfind: Horrorfind;

  --color-typography: var(--white);
  --color-background: var(--blue-dark);
}

@theme inline {
  --font-horrorfind: var(--font-horrorfind);
  --font-amarante: var(--font-amarante);
}

body {
  font-family: Amarante, sans-serif;
  color: var(--color-typography);
  background-color: var(--color-background);
}
